@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  button {
    width: 100px;
    height: 50px;
    font-size: 1.1rem;
    margin-left: 5px;
    border-radius: 1.5rem;
    background: green;
    color: aliceblue;
    cursor: pointer;

    &:last-child {
      background-color: red;

      &:hover {
        transition: 0.7s;
        opacity: 0.72;
      }
    }
    &:hover {
      transition: 0.7s;
      opacity: 0.72;
    }
  }
}
